@keyframes jieshao {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(-150px);
    }
}

@keyframes welcome {
    0% {
        opacity: 0;

    }

    40% {
        opacity: 0.6;
        transform: translateY(-300px);
    }

    80%{
        opacity: 0.6;
        transform: translateY(-300px);
    }

    100%{
        opacity: 0.6;
        transform: translateX(-350px);
    }
}




body {
    height: 100vh;
    background-color: gray;
}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    
    color: #3b3b3b;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: rgb(33, 154, 211);
}
/**字体**/

#loading {
    width: 100%;height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#zhuye {
    /*主页设计*/
    background-color: none;
    background-repeat:no-repeat;
    background-position: top center;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(https://s21.ax1x.com/2024/11/14/pAgXtv8.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.welcome{
    position: absolute;
    bottom: calc(30% - 300px);
    left: 1%;
    width: 280px;
    height: 80px;
    background-color: #c5a980;
    opacity: 0;
    border-radius: 15px;

    animation: ease-in-out;
    animation: welcome 7s 1.5s forwards;

}

.welcome a{
    padding : 10px 0 0 0;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: #2F2F2F;
    display: block;
    text-align: center;
    
}

.welcome p{
    width: 100%;
    color: rgb(14, 119, 171);
    text-align: center;

}

.img-ti1{
    position: absolute;
    height: 30%;
    width: 62%;
    top: 30%;
    left: 5%;
    animation: jieshao 3s forwards;
}

.img-ti2{
    position: absolute;
    height: 30%;
    width: 62%;

    top: 50%;
    left: 30%;
    animation: jieshao 3s forwards;
}

.nav {
    /*顶部导航栏*/
    width: 100%; height: 75px; line-height: 75px;
    position: fixed;
    z-index: 8000;
    transition: 1s ease-in-out;
}

.nav:hover {
    background-color: rgba(252, 202, 152, 0.73);
    transition: 1s ease-in-out;
}

.first-ul li{
    text-align: center;
    font-weight: 500;
}

.first-ul li,.first-ul a,.huadong li,.huadong a{
    list-style-type: none;
    color: #5b5050;
}
.first-ul {
    display: flex;
    width: 25%;height: 100%;
    line-height: 75px;
    position: absolute;top: 0;right: 10%;/*导航栏定位*/
    overflow: hidden;
}

.first-li {
    margin: 0 auto;
    width: 64px;
}

.first-li ul {
    width: 80px;
    display: inline-block;
    line-height: 35px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    opacity: 0;
    white-space: nowrap;/*文字不换行*/
}

.first-li:hover > ul {
    opacity: 1;
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
}

.first-ul:hover {
    overflow: visible;/*防止未划入导航栏就出现标签*/
}





.text {
    height: 14%;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.text img{
    width: 70%;
    margin: auto;
}
.text a{
    
    color: rgb(255, 140, 0);
}


.header-info {
    width: 60%;
    border-radius: 20px;
    background-color: rgba(83, 202, 238, 0.8);
    line-height: 20px;
    margin: 25px auto 0;
    padding: 10px 30px;
    text-align: center;
}/*标语栏*/

/*滑动栏开始*/
.huadong,.huadong ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.huadong {
    height: 75px;
    border-radius: 50px;
    padding: 0 15px;
    position: relative;
}

.huadong input {
    cursor: pointer;
    width: 45px; height: 45px;
    opacity: 0;
}

.huadong img {
    width: 45px;
    position: absolute;left: 15px;top: 15px;
    pointer-events: none;
}

.huadong ul {
    white-space: nowrap;/*让文字不换行显示，解决盒子被撑大*/
    width: 0;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.huadong ul li {
    margin: 0 15px;
}

.huadong ul li a {
    font-size: 20px;
    font-weight: 700;
}

.huadong input:checked ~ ul {/*：checked是当选中的复选框的时候 ~ 是兄弟选择器 查找同一级的ul*/
    width: 350px;
    transition: all 500ms ease-in-out;
}

/*滑动栏结束*/

/*li，a字体变色*/
.nav li,.nav a:hover {
    color: rgb(33, 154, 211);
}

.weixing {
    position: absolute; top: 30%; left: 50%;
    width: 30%;
    padding: 30px;
    pointer-events: none;
}/*卫星*/

.video {
    opacity: 0;
    animation: video1  5s forwards;

}

@keyframes video1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#firstpage {
    width: 100%; height: 95%;
    background-color: #c79191;
    display:flex;
    justify-content: center;
    background-image: url(https://s21.ax1x.com/2024/11/15/pAgvzgP.jpg);
    background-size: cover;
    background-attachment: fixed;

    /**align-items: center;**/
    /**background:  linear-gradient(#c99999,#615666);**/
}




#secondpage {
    width: 100%; height: 95%;
    background-color: #c79191;
    display:flex;
    position: relative;
    justify-content: center;
    background-image: url(https://s21.ax1x.com/2024/11/15/pAgxCDS.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

#thirdpage {
    width: 100%; height: 95%;
    background-color: #c79191;
    display:flex;
    position: relative;
    justify-content: center;
    background-color: black;
    background-image: url(https://s21.ax1x.com/2024/11/15/pAgxSjf.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.t-title{
    position: absolute;
    top: 10%;
    width: 80%;
    height: 10%;
}

.t-title img{
    width: 100%;
}


.board {
    position: relative;
    width: 1100px;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: calc(10%) 30px 30px 30px;
    margin-top: calc(13%);
    border-radius: 20px;
    overflow: hidden;

}

.board-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 50%;
    top : 0;
    left: 0;

}

.board .p1{
    position: absolute;
    top: 10%;
    left: 10%;


}

.board .p2{
    position: absolute;
    top: 10%;
    right: 7%;


}

.board .p3{
    position: absolute;
    bottom: 5%;
    left: 10%;


}

.board .p4{
    position: absolute;
    bottom: 5%;
    right: 7%;
}


.board img{
    border-radius: 15px;
    height: 200px;
    width: 400px;
}

.board a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.epilog{
    height: 40px; 
    line-height: 40px; 
    text-align: center; 
    font-weight: 800;
    background-color: white;

}
